.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    max-width: 100vw;
    background: cover;
    font-family: 'Playfair Display', serif;
    transition: clip-path 1.5s ease-in-out;
}

.project-title {
  transition: opacity 4.0s ease-in-out;
}

.projects {
    max-width: 100vw;
    min-height: 120vh;
    animation: gradient 15s ease infinite,
}

    @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

.navbr {
    font-size: 30;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration:underline;
    transition: opacity 4.0s ease-in-out;
}

.nav-link {
    margin-top: 20px;
    margin: 0 20px;
    height: auto;
}

.nav-link:hover{
    margin-top: 0;
    font-weight: 900;
}


.project-title {
    font-size: 48px;
    color: wheat;
}

.nav {
    background-color: aqua;
    width: 100vw;
    color: wheat;
    z-index: 2;
}

.carousel {
  width: 75vw;
  margin: auto;
}
