#root {
  position: absolute;
  top: 0;
  min-height: 40vw;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  #root {
    position: absolute;
    top: 0;
    min-height: 40vw;
    width: auto;
    margin: 0;
    padding: 0;
  }
}